/* Styles gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}
.clear{
    clear: both;
}

.container{
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
}
/* header */

header{
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header nav.desktop{
    float: right;
    position: relative;
    top: 30px;
}

header nav.desktop ul{
    list-style-type: none;
}

header nav.desktop ul li{
    float: left;
    padding: 0 20px;
    font-size: 23px;
}

header nav.desktop ul li a{
    text-decoration: none;
    color: black;
}

nav.mobile{
    display: none;
    cursor: pointer;
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 40px;
    background-size: 100% 100%;
    background-image: url(../images/icon_menu.png);
}

nav.mobile ul{
	display: none;
	width: 100%;
	left: 0;
	top: 95px;
	border-bottom:4px solid #EB2D2D;
	z-index: 999;
	position: absolute;
	text-align: center;
	background-color: white;
}

nav.mobile li{
	font-size: 23px;
	padding:20px 0px;
	font-style: italic;
}

nav.mobile li a{
	color: black;
	text-decoration: none;
}
div.logo{
    float: left;
}

/* section banner */

section.banner{
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url('../images/bg.jpg');
    background-size: 60% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner{
    padding: 100px;
}

.text-banner-single{
    width: 314px;
    height: 80px;
    padding: 10px 30px;
    margin-top: 20px;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
    background-image: url('../images/box-text.png');
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2){
    width: 250px;
    margin-left: -13px;
}

.text-banner .text-banner-single:nth-of-type(3){
    width: 205px;
    margin-left: -24px;
}

.text-banner .text-banner-single:nth-of-type(4){
    width: 400px;
    height: 67px;
    position: relative;
    left: -36px;
    padding: 15px 29px;
    color: black;
    font-size: 25px;
    letter-spacing: 5px;
    background-image: url(../images/box-white-text.png);
}

/* vei-dest */

section.vei-dest{
    padding: 90px 2%;
}

section.vei-dest .line-title h2{
    display: inline-block;
    position: relative;
    padding: 0 30px;
    font-size: 27px;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
}

section.vei-dest .container{
    max-width: 1000px;
    padding: 40px 0;
}

.line-title{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-color: white;
}

.ln1{
    width: 96%;
    height: 2px;
    position: absolute;
    margin-top: 15px;
    background-color: black;
}

/* vit-dest */

header.info-car{
    margin-top: -70px;
}

.vit-dest{
    float: left;
    width: 33.3%;
}

.vit-dest .car-img{
    width: 100%;
    padding-top: 100%;
    border: 8px solid white;
    background-size: 100% 80%;
    background-repeat: no-repeat;
}

.vit-dest h2{
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 30px;
}

.vit-dest p{
    padding-top: 4px;
    padding-left: 8px;
    color: #424242;
    font-size: 20px;
    font-style: italic;
}

.btn1{
    display: block;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    border-radius: 20px;
    background-color: #EB2D2D;
    width: 153px;
}

.vit-dest a{
    margin-left: 8px;
    margin-top: 4px;
}

/* serv-desc */

section.serv-desc{
    display: flex;
}

.half-1{
    width: 50%;
    padding: 90px 2%;
    text-align: right;
    color: white;
    background-color: #242424;
}

.half-1-wraper{
    padding-right: 100px;
    display: inline-block;
    text-align: left;
}

.half-1-wraper h2{
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}

.half-1-wraper ul{
    float: left;
    margin-top: 10px;
}

.half-1-wraper li{
    margin-left: 15px;
    font-size: 20px;
}

.half-1-wraper a{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    margin-top: 40%;
}

.half-2{
    width: 50%;
    padding: 90px 10%;
    color: white;
    background-color: #EB2D2D;
}

.half-2 h2{
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}

.half-2 .depoi-single{
    margin-top: 19px;
}

.depoi-single p{
    font-size: 20px;
}

.nav-1{
    float: left;
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
}

.nav-1 img{
    cursor: pointer;
    margin: 0 10px;
}

.arrows{
    float: left;
}

.name-depoi{
    float: left;
    font-size: 23px;
    color: #292929;
}

/* media */

@media screen and (max-width: 2560px){

    .half-1-wraper a{
        margin-top: 40%;
    }

}

@media screen and (max-width: 1400px){

    section.banner{
        background-size: 90% auto;
        background-position: 200% 50%;
    }

}

@media screen and (max-width: 1024px){

    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width: 840px){

    section.serv-desc{
        flex-direction: column;
    }

    .half-1{
        text-align: left;
        padding: 80px 100px;
    }

    .half-1,.half-2{
        width: 100%;
    }

    .half-1-wraper a{
        display: block;
        margin-top: 84%;
    }

}

@media screen and (max-width: 725px){
    
    nav.desktop{
        display: none;
    }
    
    nav.mobile{
        display: block;
    }
    
}

@media screen and (max-width: 670px){

    section.vei-dest .container{
        text-align: center;
    }

    .vit-dest{
        display: inline-block;
        float: none;
        width: 80%;
        margin-bottom: 100px;
    }

    .vit-dest a{
        display: inline-block;
        line-height: 45px;
    }

}

@media screen and (max-width: 580px){

    section.banner{
        height: 100vw;
        width: 100%;
        min-width: 400px;
    }

    .text-banner{
        padding: 100px 40px;
    }

    .text-banner-single{
        font-size: 28px;
        padding: 21px 32px;
    }
    
    .text-banner .text-banner-single:nth-of-type(2){
        width: 250px;
        margin-left: -13px;
    }
    
    .text-banner .text-banner-single:nth-of-type(3){
        width: 205px;
        margin-left: -24px;
    }

    section.vei-dest .line-title h2{
        font-size: 23px;
        padding: 0 23px;
    }

    .half-1{
        width: 100%;
    }

    .half-1-wraper a{
        margin-top: 150%;
    }

}

@media screen and (max-width: 480px){

    .vit-dest{
        width: 100%;
    }

    .half-1-wraper a{
        margin-top: 150%;
    }

}

@media screen and (max-width: 241px){

    .half-1-wraper a{
        margin-top: 150%;
    }

}
