/* Styles gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}
.clear{
    clear: both;
}

.container{
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
}
/* header */

header{
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header nav.desktop{
    float: right;
    position: relative;
    top: 30px;
}

header nav.desktop ul{
    list-style-type: none;
}

header nav.desktop ul li{
    float: left;
    padding: 0 20px;
    font-size: 23px;
}

header nav.desktop ul li a{
    text-decoration: none;
    color: black;
}

nav.mobile{
    display: none;
    cursor: pointer;
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 40px;
    background-size: 100% 100%;
    background-image: url(../images/icon_menu.png);
}

nav.mobile ul{
	display: none;
	width: 100%;
	left: 0;
	top: 95px;
	border-bottom:4px solid #EB2D2D;
	z-index: 999;
	position: absolute;
	text-align: center;
	background-color: white;
}

nav.mobile li{
	font-size: 23px;
	padding:20px 0px;
	font-style: italic;
}

nav.mobile li a{
	color: black;
	text-decoration: none;
}
div.logo{
    float: left;
}

/* section banner */

section.banner{
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url('../images/bg.jpg');
    background-size: 60% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner{
    padding: 100px;
}

.text-banner-single{
    width: 314px;
    height: 80px;
    padding: 10px 30px;
    margin-top: 20px;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
    background-image: url('../images/box-text.png');
    background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2){
    width: 250px;
    margin-left: -13px;
}

.text-banner .text-banner-single:nth-of-type(3){
    width: 205px;
    margin-left: -24px;
}

.text-banner .text-banner-single:nth-of-type(4){
    width: 400px;
    height: 52px;
    position: relative;
    left: -36px;
    color: black;
    font-size: 25px;
    letter-spacing: 5px;
    background-image: url(../images/box-white-text.png);
}

/* media */

@media screen and (max-width: 1400px){

    section.banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }

}

@media screen and (max-width: 1024px){

    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }

}

@media screen and (max-width: 725px){

    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }
    
}

@media screen and (max-width: 580px){

    section.banner{
        height: 100vw;
        width: 100%;
        min-width: 400px;
    }

    .text-banner{
        padding: 100px 40px;
    }

    .text-banner-single{
        font-size: 28px;
        padding: 21px 32px;
    }
    
    .text-banner .text-banner-single:nth-of-type(2){
        width: 250px;
        margin-left: -13px;
    }
    
    .text-banner .text-banner-single:nth-of-type(3){
        width: 205px;
        margin-left: -24px;
    }

}
