*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}

html, body{
	height: 100%;
}

/*Estilos gerais*/

.container{
	max-width: 1280px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/*Header style*/

header{
	width: 100%;
	height: 90vh;
	max-height: 800px;
	padding: 20px 2%;
	background-size: cover;
	background-position: center;
	background-image: url('../imagens/background.png');
}

header nav{
	float: right;
}

/*Nav desktop-menu style*/

header .logo{
	position: relative;
	top: -7.5px;
	margin-left: 93px;
	float: left;
    width: 160px;
    height: 40px;
    background-image: url('../imagens/logo.png');
    background-size: contain;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
}

header nav.desktop-menu ul{
	list-style-type: none;
}

header nav.desktop-menu li{
	float: left;
	padding: 0 20px;
}

header nav.desktop-menu ul a{
	text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: normal;
}



/*Chamada Style*/

.chamada1{
	max-width: 600px;
	float: right;
	margin: 45px;
}

.chamada1 h2{
	font-size: 45px;
    margin: 0px;
    margin-right: 35px;
    margin-top: 152px;
    color: #ffffff;
}

.chamada1 p{
	font-size: 15px;
	color: white;
	margin-top: 10px;
}

/*Section style*/

section.plataforms{
	width: 100%;
    background-color: purple;
    padding: 0 2%;
    height: 400px;
    border-bottom: 30px solid #dddddd;
}

section.plataforms .container{
	max-width: 1000px;
	height: calc(100% + 30px)
}

/*Text-plataforms*/

.text-plataforms{
	float: left;
    width: 50%;
    position: relative;
    left: 45px;
    margin-top: 114px;
    padding-left: 23px;
    color: #ffffff;
}

.text-plataforms h2{
	font-weight: 300;
	font-size: 33px;
}

.text-plataforms p{
	font-size: 15px;
	margin-top: 20px;
}

.text-plataforms ul{
	list-style-position: inside;
	font-size: 16px;
}

.text-plataforms ul li{
	float: left;
	width: 100%;
	margin-top: 8px;
}

/*Divice-plataforms*/

.device-plataforms{
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
	top: -30px;
	background-image: url('../imagens/device.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

/*Button-plataforms*/

.button-plataforms input{
	width: 165px;
    background-color: #ff4807;
    color: white;
    border-radius: 30px;
    height: 38px;
    border: 1px solid #ff4807;
    font-size: 18px;
    margin: 9px auto;
    cursor: pointer;
}

/*Section Plataforms-2*/

.plataforms-2{
	padding: 80px 2%;
    background-color: white;
    text-align: center;
    background: #d4d4d4c7;
    border-bottom: 3px solid #835fa7;
}

.plataforms-2 h2{
	color: #472663;
	font-weight: 300;
}

.plataforms-2 p{
	margin-top: 30px;
	max-width: 600px;
	display: inline-block; 
}

/*Section Plataforms-3*/

.plataforms-3{
	width: 100%;
}

/*Part-1 style*/

.part-1{
	float: left;
	width: 50%;
	padding: 140px 0px 90px 0px;
	background-color: #835FA7;
}

.wraper-part-1{
	max-width: 400px;
	float: right;
	padding: 0 30px;	
}

.part-1 h2{
	font-weight: 300;
	font-size: 23px;
	font-style: italic;
}

.part-1 p{
	font-size: 17px;
	line-height: 35px;
	margin-top: 10px;
}

/*Part-2 style*/

.part-2{
	float: left;
	width: 50%;
	padding: 140px 0px 90px 0px;
}

.sobre-autor{
	float: left;
	max-width: 600px;
	padding: 0px 30px 0px 30px;
}

/*Titulo autor style*/

.titulo-autor{
	float: left;
	width: 100%;
}

.wraper-titulo-autor{
	float: left;
}

.titulo-autor h2{
	padding-right: 20px;
}

.titulo-autor .img-autor{
	float: left;
	width: 40px;
	height: 40px;
	position: relative;
	top: -4px;
	background-size: cover;
	background-image: url(../imagens/user.png);
	background-position: center;
	border-radius: 50%;
}

.text-autor{
	float: left;
	width: 100%;
	margin-top: 10px;
}

/*plataforms-4 style*/
	
section.plataforms-4{
	background-color: #472563;
	padding: 100px 0;
}

.form{
	float: left;
	width: 50%;
	padding-left: 10px;
}

.form h2{
	color: white;
	font-style: 23px;
	font-weight: 300;
}

.form p{
	font-size: 15px;
	font-weight: 300px;
	color: white;
	max-width: 400px;
	padding-right: 10px;
}

.form form{
	margin: 15px;
}

.form form input[type=text]{
	width: 90%;
	max-width: 480px;
	height: 58px;
	margin-top: 8px;
	padding-left: 8px;
	line-height: 58px;
	border: 1px solid #cccccc;

}

.form textarea{
	width: 90%;
	max-width: 480px;
	padding: 15px;
	border: 1px solid #cccccc;
	height: 160px;
	max-height: 600px;
	margin-top: 8px;
}

/*Map style*/

.map-wraper{
	float: left;
    width: 50%;
    padding-left: 13px;
}

.map-wraper3{
	width: 100%;
	max-width: 480px;
	position: relative;
	border: 5px solid #cccccc;
	margin-top: 5px;
}

.map-wraper2{
	max-width: 480px;
	top: 0;
	left: 0;
	padding-top: 100%;
	background-color: #dddddd;
}

.map-wraper h2{
	color: white;
    font-size: 23px;
    font-weight: 300;
    max-width: 157px;
}

/*footer*/

footer{
	padding: 40px 0;
	background-color: #262626;
	padding: 40px 2%;
}

footer p{
	color: #e6e6e6;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
}

footer p:nth-of-type(1){
	float: left;
}

footer p:nth-of-type(2){
	float: right;
}

/*Medias queries*/

@media screen and (max-width: 408px){

	header{
		width: 100%;
    	height: 115vh;
    	max-height: 800px;
    	padding: 20px 2%;
	}

	.titulo-autor .img-autor{
		top: 4px;
    	margin: 10px 38px;
	}

}

@media screen and (max-width: 617px){

	.part-1{
		width: 100%;
		padding: 20px 0;
	}

	.wraper-part-1{
		float: left;
		max-width: 500px;
	}

	.part-2{
		width: 100%;
		padding: 20px 0;
	}

	.sobre-autor{
		max-width: 500px;
		text-align: justify;
	}

	footer{
		padding: 40px 0;
		background-color: #262626;
		padding: 40px 2%;
	}

	footer p:nth-of-type(1){
		float: none;
	}

	footer p:nth-of-type(2){
		float: none;
		margin-top: 8px;
	}

}

@media screen and (max-width: 768px){

	header div.logo{
		display: inline-block;
	    float: none;
		width: 160px;
    	height: 40px;
	    margin-left: 50%;
	    transform: translateX(-50%);
	}

	nav.desktop-menu{
		display: block;
    	margin: 0 50% 32px 50%;
    	transform: translate(54%, 2%);
	}

	.chamada1{
		max-width: 650px;
    	float: none;
   		margin: 0;
    	text-align: center;
    	margin-left: 34px;
	}

	.chamada1 h2{
		font-size: 50px;
	    margin: 0px;
	    margin-right: 35px;
	    margin-top: 25px;
	    color: #ffffff;
	}

	.chamada1 p{
		font-size: 15px;
		color: white;
		margin-top: 10px;
	}

	section.plataforms-4 .container{
		text-align: center;
	}

	.form{
		float: none;
		width: 100%;
		margin: 37% 50% -25%;
    	transform: translate(-50%, -50%);
	}

	.form p{
		display: inline-block;
		float: none;
	}

	.map-wraper{
		float: none;
		width: 100%;
		padding: 0 4%;
		margin-top: s40px;
	}

	.map-wraper h2{
		color: white;
	    font-size: 23px;
	    font-weight: 300;
	    max-width: 157px;
	    margin: 6px auto
	}


	.map-wraper2{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding-top: 0;
		margin-top: 10px;
	}

	.map-wraper3{
		display: inline-block;
		width: 80%;
		padding-top: 80%;
		max-width: none;
		position: relative;
	}

}

@media screen and (max-width: 1025px){

	section.plataforms{
		padding: 40px 2%;
		height: auto;
		text-align: center;
	}

	.text-plataforms{
		width: 100%;
		margin-top: 0;
		position: static;
		float: none;
		left: 0;
		display: inline-block;
	}

	.text-plataforms ul{
		display: inline-block;
		margin: 20px;
	}

	.text-plataforms ul li{
		float: none;
		text-align: left;
	}

	.button-plataforms{
		display: block;
	}

	.device-plataforms{
		display: none;
		background: none;
	}

}
